<!DOCTYPE html>
<html lang="ja">
  <%- include("head") %>
  <body>
    <%- include("header") %>
    <h1>Authentication</h1>
    <div>
      <form action="/auth/login" method="post">
        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" />
        <button type="submit">認証</button>
      </form>
    </div>
    <button 
      type="button" 
      id="toggleBtn" 
      onclick="togglePassword()" 
      style="width: 180px; height: 40px;">
      表示
    </button>
    <script>
      function togglePassword() {
        const input = document.getElementById("password");
        const butText = document.getElementById("toggleBtn");

        if (input.type === "password") {
          input.type = "text";
          butText.textContent = "非表示"
        } else {
          input.type = "password";
          butText.textContent  = "表示"
        }
      }
    </script>
    <%- include("footer") %>
  </body>
</html>
