<header class="footer">
  <h3>©鎌倉女学院</h3>
    <form action="https://www.kamajo.ac.jp/" name="icon" target="_blank">
    <button type="submit" class="icon-button">
        <img src="/images/kamajo.png" alt="Kamajo">
    </button>
  </form>
  <form action="/" name="icon">
    <button type="submit" class="icon-button">
        <img src="/images/icon.png" alt="Kamajo Tools">
    </button>
  </form>
  <form action="http://hv1dneo.kjs.private/scripts/dneo/dneo.exe" name="icon" target="_blank">
    <button type="submit" class="icon-button">
        <img src="/images/desknets-icon.png" alt="Desknets Neo">
    </button>
  </form>
    <form action="https://home-kamajo.schoolaid.jp/#" name="icon" target="_blank">
    <button type="submit" class="icon-button">
        <img src="/images/Schoolaid-icon.png" alt="Schoolaid">
    </button>
  </form>
    </form>
  <form action="https://loilonote.app/_/" name="icon" target="_blank">
    <button type="submit" class="icon-button">
        <img src="/images/loilonote-icon.png" alt="loilonote">
    </button>
  </form>
  <form action="https://classroom.google.com/" name="icon" target="_blank">
    <button type="submit" class="icon-button">
        <img src="/images/classroom.png" alt="classroom">
    </button>
  </form>
    <form action="https://sviewer.jp/books/bookshelf.html" name="icon" target="_blank">
    <button type="submit" class="icon-button">
        <img src="/images/ogp_sviewer.png" alt="sviewer">
    </button>
  </form>
      <form action="https://mail.google.com" name="icon" target="_blank">
    <button type="submit" class="icon-button">
        <img src="/images/gmail.png" alt="gmail">
    </button>
  </form>
</header>