<head>
  <meta charset="utf-8" />
  <title>Kamajo_tool</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/button.css">
  <link rel="stylesheet" href="/css/mainpage.css">
</head>