.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 56px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  gap: 12px; /* ボタン同士の間隔 */

  background: linear-gradient(
    to bottom,
    #ffffff,
    #f5f7fa
  );
  border-bottom: 1px solid #ddd;
}

.footer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 70px;

  display: flex;
  flex-direction: column;   /* ← これ重要 */
  align-items: center;
  justify-content: flex-start; /* 上から詰める */

  font-size: 8px;
  color: #666;
  overflow-y: auto;

  background: #ddd;
}
.footer::-webkit-scrollbar {
  width: 4px;   /* ← ここを極小に */
}

/* つまみ */
.footer::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

/* 背景 */
.footer::-webkit-scrollbar-track {
  background: transparent;
}

body {
  margin: 0;
  padding-top: 56px; /* ヘッダ高さ分 */
  padding-right: 70px;
  min-height: 100vh;
  flex-direction: column;
}
.hicon {
  width: 78px;
  height: 56px;

  border: 1px solid #ddd;
  border-radius: 4px;   /* ← 少し角丸、0 にすれば完全な□ */
  background: #fff;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 4;           /* 余白を消す */
  cursor: pointer
}
.icon-button {
  width: 64px;
  height: 48px;

  border: 1px solid #ddd;
  border-radius: 4px;   /* ← 少し角丸、0 にすれば完全な□ */
  background: #fff;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 4;           /* 余白を消す */
  cursor: pointer
}

.icon-button img {
  display: block;       /* 余白防止 */
  width: 64px;          /* 画像サイズ */
  height: 42px;
}
.hicon img {
  display: block;       /* 余白防止 */
  width: 72px;          /* 画像サイズ */
  height: 48px;
}